#tb{    
    border:0;
    width: 100%;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000; 
}
#tb th{
    width: 25%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #eee;            
}
#tb td{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

#myTb th{
    width: 6%;        
}

#myTb thead tr:nth-child(2){
    background: #e3f6ff;
}

#myTb th:first-child{
    width: 16%;
}
#myTb td{
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
table a{
    text-decoration: none;
}
table a:hover{
    color: #f00;
}
.dhide{
    display: none;
}
caption{
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
    font-color:#00f;
    font-weight:bold;
    border-bottom:1px solid #000;
}
#sl{
    padding:5px;
    margin:5px;
}